<div ng-controller="tasksCtrl">






    <div  click-anywhere-but-here="hide_send_list()" style="width: 0px;">


        <!--
            <button class="btn btn-danger" style="float: right;" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>&lt;!&ndash;Log-out&ndash;&gt;</button>
        -->

        <button class="btn btn-info" style="float: right;position: absolute;right: 8%;top: 3%;" ng-click="show_send_list()"  ng-class="{'alert-message': from }" ><span class="glyphicon glyphicon-envelope"></span><!--Log-out--></button>


        </br>

        </br>

        </br>


        </br>


        <div class="col-sm-6" ng-show="chat" ng-hide="close">





            <div id="chater">
                <span class="header"><img style="width:35px;height: 35px ;border-radius:35px;margin-right: 10px;" src="{{user_img}}">{{user_name}}</span>

                <span class="close" ng-click="closechat()">x</span>




                <form id="send_message">
                    <input class="inputM" type="text" ng-model="message" id="message1">
                    <button class ="button-send" ng-click="getmessage(message,$index)">send message</button>

                </form>



            </div>

        </div>



        </br>





        </br>

        </br>

        <div class="senders-list-wrapper"  ng-if="messages" ng-class="{'got-message': user.has_message }">

            <table class="table table-inverse" style="width: 240px; margin-bottom: 24px; background-color: #f3f3f3;">

                <tr ng-repeat="user in pizdets track by $index " ng-if="messages" ng-class="{'got-message': user.has_message }  " ng-click="edit(user.u_from,$index)"><!--ng-hide="user.on_message==true"--><!--| filter: { on_message: '1'}-->


                    <td style=""><!--<img ng-click="edit(user.u_from,$index)"  style="width:40px;height: 40px ;border-radius:40px;" ng-src="{{user.img}}" alt="{{ user.u_from_name }}" >--><span><!--{{ user.u_from_name }}--></span></td>


                    <td style="" ng-click="edit(user.u_from,$index)"><img ng-click="edit(user.u_from,$index)"  style="width:40px;height: 40px ;border-radius:40px;" ng-src="{{user.img}}" alt="{{ user.u_from_name }}" ><span style="float: right; /* margin-bottom: -3px; */ margin-top: 7px; margin-right: -15px;">{{ user.u_from_name }}</span></td>

                    <td></td>
                    <td style=""><!--{{user}}--></td>



                    <!--   <td>

                       </td>-->

                    <td>
                        <button ng-click="edit(user.u_from,$index)" ng-class="{'got-message': user.has_message }">chat</button><!--{'got-message': user.on_message==true,'from': user.u_from}-->
                    </td>

                    <td>

                    </td>

                </tr>
            </table>

        </div>

        <!--</div>-->





        <span  ng-repeat="user in pizdets track by $index "  ng-if="user.has_message" style="border-radius:23px ;position: absolute; right: 85px; top: 7px;width: 20px;" ng-class="{'alert-message': user.has_message }">+{{counter}}<!--ng-hide="user.on_message==true"--><!--| filter: { on_message: '1'}--></span>





        <div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-6">

                </div>
            </div>
        </div>

    </div>

























<div class="col-sm-6" style=" float:left;margin-left: 25%; margin-top:-15%">
    <!--&lt;!&ndash;longtitute:&ndash;&gt;--><input style="visibility: hidden" type="text"  class="form-control form-control-inline" style="/*visibility: hidden;*/" ng-model="longtitude" name="longtitude"  />
    <br/>
    <!--&lt;!&ndash;latitude:&ndash;&gt;--><input style="visibility: hidden" type="text"  class="form-control form-control-inline" style="/*visibility: hidden;*/" ng-model="latitude" name="latitude" />
    <br/>

    <h3>distance in kilometers:</h3> <input  type="range" value="{{dist}}" name="points" min="1" max="500"  class="form-control form-control-inline" style="float: left;/*visibility: hidden;*/" ng-model="dist" />


    <input  type="number" data-type="range" value="{{dist}}" name="points" min="1" max="500"  class="form-control form-control-inline" style="clear:both;margin-top: 10px; margin-left: 9px;/*visibility: hidden;*/" ng-model="dist" />



    <button class="btn btn-success" style="margin-top:-4px;" ng-click="updatecords(90,dist)">Send</button>

</div>
<br>

<div class="col-sm-6" style="float:left;margin-left: 25%;" >

    <div>people near you:</div>


</div>


    <div ng-repeat="x in closeusers" ng-click="redirect_to_profile(x[4],$index)" style="width: 240px;height: 240px; background-color: hsl(174, 80%, 37%); float: left;  margin-right: 81px; margin-top: 38px; border-radius: 8px; cursor: pointer;">
        <a value="online" ng-show="x[3]==true" ng-class="{'online2': x[3]==true}">online&lt;!&ndash;{{x[3]}}&ndash;&gt;</a><br><img style="width: 240px;height:140px; border-radius: 4px;float: left;margin-top: -18px;" src="{{x[2]}}"/><span style=" /* margin-bottom: -3px; */ margin-top: 7px; margin-right: -15px;float: left;clear:left;">{{x[0]}}-{{x[1]}}</span>

        <!--
                <button ng-click="redirect_to_profile(x[4],$index)" ng-class="{'got-message': user.has_message }">show-profile</button>&lt;!&ndash;{'got-message': user.on_message==true,'from': user.u_from}&ndash;&gt;
        -->


    </div>

<div class="col-sm-6" style="margin-left: 25%;">




</div>

<br>

<!--&lt;!&ndash;-->

<br>

<div style="display: none;" id="map_canvas"></div>
<div  style="display: none;" id="map"></div>
<!--&lt;!&ndash;<input id="findMe" type="button" value="find closest place">&ndash;&gt;

&lt;!&ndash;<input class="find" type="button" value="find closest place">&ndash;&gt;-->
<div  style="display: none;" id="map-canvas" style="height:300px;"></div>


</div>&ndash;&gt;


