<div class="container">

    <h3 style="text-align: center">{{erorrmessage}}</h3>
    <h3 style="text-align: center">{{successmessage}}</h3>

    <div class="col-sm-6" style="margin-left: 25%;">


        <h4>Change Password:</h4>

               </br>

               New-Password:<input class="form-control"  style="width:60%;" type="text"  ng-model="Email.u_password"  name="u_password"/>


       </br>


        <button class="btn btn-success" ng-click="changepass()">Submit</button>

    </div>

</div>




