<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<fieldset style="width:200px;">
    <legend>LOG_IN</legend>
    <form name="login" method="POST">
        Email:<input type="text" ng-model="newFriend.fname" name="email"/>
        <br/>
        Password :<input type="text" ng-model="newFriend.lname" name="password"/>
        <br/>



        <button data-ng-click="addNewFriend()" name="add">Add Friend</button>
    </form>
</fieldset>


</body>
</html>